package layout

import "fmt"

css headerClass(percent int) {
    background: { "#222222" };
    color: {"#FFFFFFFF"};
    width: { fmt.Sprintf("%d%%", percent) };
}

templ Header() {
    <div class={headerClass(50)}>
       { children... }
    </div>
}